$base-font-size: 16px;
$base-font-family: Arial, Helvetica, sans-serif;

$container-max-width: 1270;

$title-font-size: 50;
$title-font-size-min: 36;

$color-base-font: #494949;
$color-acent: #15263e;
$color-white: #fff;
$color-purple:#a21af0;
$color-pink: #ff0072;
$color-gradient: linear-gradient(41.0deg, $color-purple 29%, $color-pink 70%);