@import "./vars";
@import "./icons-font";

@mixin adaptive-font($template-fs, $min-fs) {
    $addSize: $template-fs - $min-fs;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (min-width: 767px) {
        font-size: calc( #{$min-fs + px} + #{$addSize} * (100vw / #{$container-max-width}) );
    }
    @media (max-width: 767px) {
        font-size: calc( #{$min-fs + px} + #{$addMobSize} * ((100vw - 320px) / #{$container-max-width}) );
    }
}


@mixin s1200 {
    @media(max-width: 1200px){
        @content;
    }
}

@mixin s1000 {
    @media(max-width: 1000px){
        @content;
    }
}

@mixin s800 {
    @media(max-width: 800px){
        @content;
    }
}

@mixin s650 {
    @media(max-width: 800px){
        @content;
    }
}

@mixin s425 {
    @media(max-width: 425px){
        @content;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.container {
    width: 100%;
    height: 100%;
    max-width: $container-max-width + px;
    margin: 0 auto;
    padding: 0 15px;    

    @include s1200 {
        padding: 0 30px;
    }
}

.gradient-font {
    background: $color-gradient;
    color: #dbdbdb;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    padding-top: 70px;
    @include s800 {
        padding-top: 50px;
    }
}

body._lock {
    overflow: hidden;
}

.toUp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    border: 2px solid $color-acent;
    border-radius: 50%;
    background-color: $color-gradient;
    color: $color-white;
    font-size: 30px;
    transition: all 0.3s ease;  

    &:hover {
        transform: scale(1.1);
        border-radius: 20px;
    }
    &:active {
        transform: scale(0.9);
    }    

    &::before {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);        
    }
}

@import "./blocks/*.scss";